
.main-content {        
    justify-items: center;
    max-width: 64rem;
}
.main-title {
    display: inline-block;
    padding-left: 16px;
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 4px 0px 4px 4px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #FFF;
    background-color: var(--green);
    padding-right: 10px;

    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box; */
}

.sub-title {
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #FFF;
    display: flex;
    justify-content: center;
    background-color: var(--blue)
}

p {
    color: #0E2D6D;
    margin: 0 0 12px;
    padding: 0px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    box-sizing: border-box;
}

li {
    color: var(--blue);
    line-height: 28px;
}

p.paragraph-title {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: var(--green);
}


li::marker {
    color: var(--green);
}

.header-image-container {
    position: relative;
    display: inline-block;
}

.header-image-container img {
    display: block;
    max-height: 150px;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--green);
    color: white;
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    box-sizing: border-box;
}

.numbered-list {
    counter-reset: list-counter; /* Initialize counter */
    list-style: none; /* Remove default bullets */
    padding-right: 20px; /* Remove default padding */
    direction: rtl; /* Set the direction to right-to-left */
}

.numbered-list li {
    counter-increment: list-counter; /* Increment counter */
    margin-bottom: 10px; /* Add space between items */
    position: relative; /* Position relative to handle pseudo-element positioning */
    padding-right: 40px; /* Adjust padding for the bullet */
    text-align: right; /* Align text to the right */
}

.numbered-list li::before {
    content: counter(list-counter); /* Display counter value */
    position: absolute;
    right: 0; /* Position the bullet to the right */
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--green);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
